streamlit==1.37.0

pandas==2.2.2
numpy==1.26.4

openpyxl
Pillow
requests==2.31.0
xlsxwriter
scikit-learn==1.4.2

beautifulsoup4==4.12.3
lxml==5.2.2

plotly==5.22.0
imagehash==4.3.1

opencv-python-headless==4.9.0.80
orjson
polars==0.20.31

sentence-transformers==2.7.0
st-styled==0.1.3
torch
torchvision
